<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <div class="form-group">
            <label for="title">Title</label>
            <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" placeholder="Title"
              required>
            <span *ngIf="title.invalid && title.touched" class="small text-danger">Title is required</span>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" placeholder="price"
                required [min]="0">
            </div>
            <span *ngIf="price.invalid && price.touched" class="small text-danger">
              <span *ngIf="price.errors.required">
                Price is required
              </span>
              <span *ngIf="price.errors.min">
                Price is be or higher
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" placeholder="category"
              required>
              <option value="bread">Bread</option>
              <option value="dairy">Dairy</option>
              <option value="vegetable">Vegetables</option>
              <option value="fruit">Fruits</option>
              <option value="others">Others</option>
            </select>
            <span *ngIf="category.invalid && category.touched" class="small text-danger">Category is required</span>
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input #image="ngModel" [(ngModel)]="product.image" name="image" id="image" type="text" class="form-control" placeholder="image url"
              required url>
            <span *ngIf="image.invalid && image.touched" class="small text-danger">
              <span *ngIf="image.errors.required">
                Image is required
              </span>
              <span *ngIf="image.errors.url">
                Image needs to be a URL
              </span>
            </span>
          </div>
          <button [disabled]="!f.valid" class="btn btn-outline-success btn-sm">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img *ngIf="product.image" class="card-img-top" [src]="product.image" alt="{{product.title}}">
      <div class="card-body">
        <h4 class="text-capitalize">{{product.title}}</h4>
        <p class="mb-0">Price: {{product.price | currency:"USD":"symbol"}}</p>
        <p class="mb-0 text-capitalize">Category: {{product.category}}</p>
      </div>
    </div>
  </div>
</div>