<ul class="list-group sticky-top">
  <li class="list-group-item">
    <a href="#" routerLink="/" class="text-dark">All</a>
  </li>
  <li class="list-group-item">
    <a href="" routerLink="/" [queryParams]="{category:'bread'}" class="text-dark">Bread</a>
  </li>
  <li class="list-group-item">
    <a href="" routerLink="/" [queryParams]="{category:'dairy'}" class="text-dark">Dairy</a>
  </li>
  <li class="list-group-item">
    <a href="" routerLink="/" [queryParams]="{category:'fruit'}" class="text-dark">Fruits</a>
  </li>
  <li class="list-group-item">
    <a href="" routerLink="/" [queryParams]="{category:'vegetable'}" class="text-dark">Vegetables</a>
  </li>
  <li class="list-group-item">
    <a href="" routerLink="/" [queryParams]="{category:'others'}" class="text-dark">Others</a>
  </li>
</ul>