<div class="list-group sticky-top">
  <a href="#" routerLink="/" class="text-dark list-group-item list-group-item-action">
    All
  </a>
  <a href="#" routerLink="/" [queryParams]="{category:'bread'}" class="text-dark list-group-item list-group-item-action">
    Bread
  </a>
  <a href="#" routerLink="/" [queryParams]="{category:'dairy'}" class="text-dark list-group-item list-group-item-action">
    Dairy
  </a>
  <a href="#" routerLink="/" [queryParams]="{category:'fruit'}" class="text-dark list-group-item list-group-item-action">
    Fruits
  </a>
  <a href="#" routerLink="/" [queryParams]="{category:'vegetable'}" class="text-dark list-group-item list-group-item-action">
    Vegetables
  </a>
  <a href="#" routerLink="/" [queryParams]="{category:'others'}" class="text-dark list-group-item list-group-item-action">
    Others
  </a>
</div>